<div class="AccountPage__form">
    <%= form_for(current_user) do |f| %>
      <div class="FormField">
        <div class="FormField__name">
          <%= f.label :nickname %>
        </div>
        <div class="FormField__name">
          <%= f.text_field :nickname, autofocus: true %>
        </div>
      </div>
      <div class="FormField">
        <div class="FormField__email">
          <%= f.label :email %>
        </div>
        <div class="FormField__email">
          <%= f.email_field :email %>
        </div>
        <br>
      </div>
      <div class="FormField">
        <div class="FormField__image">
          <%= f.label :image %>
        </div>
        <div class="FormField__image">
          <%= f.file_field :image %>
        </div>
        <br>
      </div>
      <%= f.submit "更新する" %>
      <%= link_to  "もどる", user_path(current_user) %>
       <% end %>