<%= render "shared/header" %>
<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>
    <%= current_user.nickname %>さんのマイページ
    </h1>
  </div>  
 <br>
  <div class="Account__info">
    <h2>
    <%= link_to "情報を更新する", edit_user_path %>
    </h2>
  </div>
  <table class="detail-table1">
      <tbody>
        <tr>
          <th class="detail-item1">画像</th>
          <% if current_user.image != nil %>
          <td class="detail-value1"><%= current_user.image %></td>
          <% end %>
        </tr>
        <tr>
          <th class="detail-item1">ユーザー</th>
          <td class="detail-value1"><%= current_user.nickname  %></td>
        </tr>
        <tr>
          <th class="detail-item1">Eメール</th>
          <td class="detail-value1"><%= current_user.email  %></td>
        </tr>
        <tr>
          <th class="detail-item1">生年月日</th>
          <td class="detail-value1"><%= current_user.birth_date %></td>
        </tr>
      </tbody>
    </table>
    <div class="AccountPage__title">
    <h1>
    出品した商品
    </h1>
  </div><br>
    <ul class='item-lists'>
     <% @items.each do |item|%>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
         <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
          <% if item.purchase != nil %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
         </div>
         <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
          </div>
         </div>
       <% end %>
      </li>
     <% end %>
    </ul>
  <div class="Account__info">
   <%= link_to "TOPへ戻る", root_path%>
   </div>
  </div>
</div>
<%= render "shared/second-footer"%>