<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag  @item.image ,class:"item-box-img" %>
      <%# 商品が売れている場合は、sold outの表示をしましょう。 %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <%# //商品が売れている場合は、sold outの表示をしましょう。 %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
         <%= "¥#{@item.price}" %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @item.user.id %>
        <%= link_to '商品の編集', "#", method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', "#", method: :delete, class:'item-destroy' %>
      <% end %>
    <% end %>
    
    <% if user_signed_in? && current_user.id != @item.user.id %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <%= link_to '購入画面に進む', "#" ,class:"item-red-btn"%>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
    <% end %>

    <div class="item-explain-box">
      <span><%= "商品説明" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname  %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value">
            <% case @item.category_id %>
              <% when 1 %>
              <%= "レディース" %>
              <% when 2 %>
              <%= "メンズ" %>
              <% when 3 %>
              <%= "ベビー・キッズ" %>
              <% when 4 %>
              <%= "インテリア・住まい・小物" %>
              <% when 5 %>
              <%= "本・音楽・ゲーム" %>
              <% when 6 %>
              <%= "おもちゃ・ホビー・グッズ" %>
              <% when 7 %>
              <%= "家電・スマホ・カメラ" %>
              <% when 8 %>
              <%= "スポーツ・レジャー" %>
              <% when 9 %>
              <%= "ハンドメイド" %>
              <% else %>
              <%= "その他" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value">
           <% case @item.status_id %>
              <% when 1 %>
              <%= "新品・未使用" %>
              <% when 2 %>
              <%= "未使用に近い" %>
              <% when 3 %>
              <%= "目立った傷や汚れなし" %>
              <% when 4 %>
              <%= "やや傷や汚れあり" %>
              <% when 5 %>
              <%= "傷や汚れあり" %>
              <% when 6 %>
              <%= "全体的に状態が悪い" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value">
          <% case @item.shopping_charges_id %>
              <% when 1 %>
              <%= "着払い(購入者負担)" %>
              <% when 2 %>
              <%= "送料込み(出品者負担)" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value">
          <%= @item.shopping_region[:name] %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value">
          <% case @item.delivery_time_id %>
              <% when 1 %>
              <%= "1~2日で発送" %>
              <% when 2 %>
              <%= "2~3日で発送" %>
              <% when 3 %>
              <%= "4~7日で発送" %>
              <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
</div>

<%= render "shared/footer" %>