<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag  @item.image ,class:"item-box-img" %>
        <% if @item.purchase != nil %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
        <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
         <%= "¥#{@item.price}" %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>
      <% if user_signed_in? && current_user.id == @item.user.id %>
        <%= link_to '商品の編集',  edit_item_path, method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', item_path, method: :delete, class:'item-destroy' %>
        <% elsif @item.purchase == nil %>
        <%= link_to '購入画面に進む', item_purchases_path(@item), class:"item-red-btn"%>
      <% end %>


   <% if user_signed_in? && current_user.id != @item.user.id %>
    <div class="item-explain-box">
      <span><%= @item.introduction %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category[:category]  %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status[:status]  %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shopping_charges[:shopping_charges] %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value">
          <%= @item.shopping_region[:name] %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_time[:delivery_time] %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
<% if Like.find_by(user_id: current_user.id, item_id: @item.id) %>
  <%= link_to (image_tag "star.png"), "/items/#{@item.id}/likes/#{current_user.id}", method: :delete ,class:"favorite-star-icon", width:"20",height:"20"%>
<% else %>
  <%= link_to (image_tag "star.png"), item_likes_path(@item.id),method: :post, class:"favorite-star-icon" ,width:"20",height:"20" %>
 <% end %>
        
        <span>お気に入り<%= @item.likes.count %></span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
     </div>
   </div>
   <% end %>
   <%# /商品の概要 %>

  
   <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], local: true, id: "form") do |form| %>
        <%= form.text_area :text, placeholder: "相手のことを考え丁寧なコメントを心がけましょう。", class:"comment-text", rows: "2",id: "text"%>
        <%= form.submit value:"コメントする" ,class:"comment-btn", id: "submit"%>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments" >
      <h4 class="comment-top">＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.reverse_each do |comment| %>
          <ul class="comment_group">
            <li class="comment" ><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：<%= comment.text %></li>
          </ul>
        <% end %>
      <% end %>
    </div>
   </div>



   <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
   </div>
   <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
  </div>
</div>

<%= render "shared/footer" %>